.project{
    min-height: 100vh;
    max-width: 100vw;
    // background:pink;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;

    .project_heading{
        font-family: 'Caveat', cursive;
        font-size: 3.5rem;
        &::after{
            content: "";
            display: block;
            width: 100%;
            height: 3px;
            background: red;
            margin-bottom: 3rem;
        } 
    }
}