.footer{
    margin-top: 20px;
    background-color: red;
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    @media screen and (min-width:1500px){
        font-size: 1.3rem;
    }

    


    .footer_p{
        color: white;
        animation: rotate 10s linear infinite;
    }
    @keyframes rotate{
        0%{
            transform: translate(0);
        }
        50%{
            transform: translate(74vw);
            
      }
    }
    @media screen and (max-width:800px){
        @keyframes rotate{
            0%{
                transform: translate(0);
            }
            50%{
                transform: translate(100px);
                
          }
        }
    }
}

//#20c997